<p id="notice"><%= notice %></p>
<%= link_to 'Logout', controller: "users", action: "new"  %>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<%=@posts.each do |post| %>
  <p><%= post.content || ""%></p>
<%end%>




<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
